.payment-page{

  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:
  linear-gradient(
  135deg,
  #0f172a,
  #1e293b,
  #0f172a
  );

  padding:20px;
}

.payment-card{

  width:100%;
  max-width:500px;

  background:white;

  border-radius:25px;

  padding:40px;

  text-align:center;

  box-shadow:
  0 25px 60px rgba(
  0,
  0,
  0,
  0.3
  );
}

.payment-icon{

  font-size:70px;

  margin-bottom:15px;
}

.payment-card h1{

  margin-bottom:10px;

  color:#111827;
}

.payment-card p{

  color:#6b7280;

  margin-bottom:30px;
}

.payment-details{

  text-align:left;

  margin-bottom:30px;
}

.payment-details div{

  display:flex;

  justify-content:space-between;

  margin:15px 0;

  padding-bottom:10px;

  border-bottom:1px solid #eee;
}

.total{

  font-size:22px;

  font-weight:bold;

  color:#6366f1;
}

.payment-methods{

  display:flex;

  gap:10px;

  margin-bottom:30px;
}

.method{

  flex:1;

  background:#f3f4f6;

  padding:15px;

  border-radius:10px;

  font-weight:600;

  cursor:pointer;

  transition:.3s;
}

.method:hover{

  background:#e5e7eb;
}

.pay-btn{

  width:100%;

  padding:18px;

  border:none;

  border-radius:12px;

  font-size:18px;

  font-weight:700;

  color:white;

  cursor:pointer;

  background:
  linear-gradient(
  135deg,
  #6366f1,
  #8b5cf6,
  #06b6d4
  );
}

.pay-btn:hover{

  transform:translateY(-3px);

  transition:.3s;
}