.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#0f172a;
position:sticky;
top:0;
z-index:1000;
}

.navbar h2{
color:white;
}

.nav-links{
display:flex;
gap:25px;
align-items:center;
}

.nav-links a{
color:white;
text-decoration:none;
font-weight:600;
}

.signup-btn{
padding:10px 20px;
background:linear-gradient(
135deg,
#6366F1,
#8B5CF6,
#06B6D4
);
border-radius:30px;
}